.jumbo {
   width: 100%;
   .jumbo-white {
       height: 50px;
       background-color: white;
   }
    .jumbo-black{
        width: 100%;
        background-color: $bg_dark;
        align-items: center;
        .jumbo-top{
            justify-content: space-between;
            align-items: center;
            width: 80%;
            a {
                text-decoration: none;
                color: $footer_a;
                font-weight: bold;
            }
            a:hover {
                color: $dc_color;
            }
            .left {
                color: white;
                padding: 15px 30px;
                justify-content: center;
                align-items: center;
                background-color: $dc_color;
                position: relative;
                bottom: 30px;
                h3 {
                    margin: 0;
                }
                
            }
            .right {
                text-align: right;
                width: 50%;
            }
            ul {
                width: 100%;
                align-items: center;
                list-style: none;
                justify-content: center;
                margin: 0;
                li {
                    display: inline;
                    padding: 0px 10px;
                }
               
            }
            
    }
}



    .novels-card {
        background-color: $bg_dark;
        justify-content: center;
        padding: 0px 5px;
        a{
            padding-bottom: 10px;
        }
        h6 {
            margin: 0;
            padding: 10px 0px;
        }
        .novels-name {
            color: white;
        }
        .novels-available {
            color: $dc_color;
        }
    }
}