.jumbo {
   width: 100%;
   .jumbo-white {
       height: 50px;
       background-color: white;
   }
    .jumbo-black{
        width: 100%;
        background-color: $bg_dark;
        align-items: center;
        position:relative;
        .scrollRight {
            color:white;
            cursor:pointer;
            text-decoration:none;
            position:absolute;
            height: $carousel_scroller_height;
            width: 50px;       
            right: 0px;
            top: 50%;
            transform: translate(0,-54%);
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

            // bottom: 300px;
            font-size: 35px;

            justify-content:center;
            align-items:center;

            

        }

        .scrollLeft {
            color:white;
            text-decoration:none;
            cursor:pointer;
            position:absolute;
            height: $carousel_scroller_height;
            width: 50px;
            left: 0px;
               top: 50%;
               transform: translate(0, -54%);
            justify-content:center;
            align-items:center;
            background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            font-size: 35px;
          

        }

       
        .jumbo-top{
            justify-content: space-between;
            align-items: center;
            width: 80%;
            a {
                text-decoration: none;
                color: $footer_a;
                font-weight: bold;
            }
            a:hover {
                color: $dc_color;
            }
            .left {
                color: white;
                padding: 15px 30px;
                justify-content: center;
                align-items: center;
                background-color: $dc_color;
                position: relative;
                bottom: 30px;
                h3 {
                    margin: 0;
                }
                
            }
            .right {
                text-align: right;
                width: 50%;
            }
            ul {
                width: 100%;
                align-items: center;
                list-style: none;
                justify-content: center;
                margin: 0;
                li {
                    display: inline;
                    padding: 0px 10px;
                }
               
            }
        
            
    }
    
}


    .jumbo-bottom {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    height: $jumbo_bottom_height;

    }
    .novels-card {
        background-color: $bg_dark;
        justify-content: center;
        padding: 0px 5px;
        a{
            padding-bottom: 10px;
        }
        h6 {
            margin: 0;
            padding: 10px 0px;
        }
        .novels-name {
            color: white;
        }
        .novels-available {
            color: $dc_color;
        }
    }

    .novels-card:hover {
        img{
        transform: scale(1.05);
        transition: 0.5s;
        opacity: 0.8;

        }
    }

        
}