
.must-read-title {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 10px;
    width: 70%;
    margin: auto;
     h2 {
         color: $dc_color;
         margin: 0;
     }
}
.must-read {
    
    
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    .articles-card {
        width: 300px;
        overflow-x: hidden;
        padding: 0px 10px;
    
        img {
            width: 300px;
        }
        .articles-sub_title {
            color: $dc_color;
        }
    }


}