.navbar_bottom {
    width: 100%;
    padding: 15px 0px;
    a {
        color: black;
    }
    ul {
        width: 100%;
        align-items: center;
        list-style: none;
        justify-content: center;
        margin: 0;
        li {
            display: inline;
            padding: 0px 30px;
        }
    }
    .navbar-container {
        margin: auto;
        width: 80%;
        div {
            align-items: center;
        }
        .left {
            width: 15%;
            justify-content: flex-start;

        }

        .center {
            width: 70%;
            justify-content: center;
            

        }

        .right {
            width: 15%;
            justify-content: flex-end;
            img {
                position: absolute;
                
            }
        }


    }
    


}