.novel-specs {
    width: 100%;
    margin: auto;
    text-transform: none;
    background-color: $bg_lightgrey;
    padding: 40px 0px;
    
    .talent-specs{
        width: 60%;
        margin: auto;
        
        div {
            width: 600px;
           
        }
         ul {
             margin: 0;
             list-style: none;
             
         }

         .talent{
             .artist,.writer {
                 color: $dc_color;
                 font-weight: bold;
             }
         }

         .specs {
             margin-left: 30px;
             .serie_name {
                 text-transform: uppercase;
                 color: $dc_color;
                 font-weight: bold;
             }
         }
    }
    
   
}